html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Condensed';
  font-size: 1.5em;
  color: #000;
}

a {
  text-decoration: none;
  color: #000;
}


/* Button */
.btn {
  font-family: 'Roboto Condensed';
  font-size: .6em;
  font-weight: 700;
}

.btn-green {
  text-align: center;
  background-color: #00ae7c;
  color: #fff;
  border: none;
  border-radius: .2em;
  padding: .8em 2em;
}

.btn-dark {
  text-align: center;
  background-color: #000;
  color: #fff;
  border-radius: .5em;
  padding: .6em 6em;
}

